/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* My code  */

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/lato-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/lato-v24-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primary-colour-header: #783192;
  --primary-colour-aside: #d9b5e6;
  --primary-colour-section: #e0c4eb;
  --secondary-colour-header: #59bcc8;
  --secondary-colour-light: #c0dbdb;
  --secondary-colour-lightest: #e5f0f0;
  --colour-white: #f9f9f9;
}

body {
  background-color: var(--primary-colour-section);
  text-align: center;
  font-family: "Lato";
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5rem 100rem;
  grid-template-areas:
    "header header"
    "side-bar main";
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: "Montserrat";
  background-color: var(--primary-colour-header);
  color: var(--secondary-colour-header);
}

h1,
h2,
h3 {
  font-family: "Montserrat";
}

.header-logo {
  filter: invert(78%) sepia(35%) saturate(624%) hue-rotate(137deg)
    brightness(84%) contrast(84%);
}

.header-title {
  display: flex;
  gap: 10px;
}

aside {
  grid-area: side-bar;
  background-color: var(--primary-colour-aside);
  font-family: "Montserrat";
  padding: 1rem;
}

ul {
  list-style-type: none;
  padding: 0rem;
}

li {
  margin: 0.5rem 0rem;
}

section {
  grid-area: main;
}

form {
  margin-top: 1rem;
}

#save, #edit, #remove {
  display: none;

}

#degrees {
  margin-left: 1rem;
}

#alerts-event {
 color: #783192;
}

table {
  visibility: hidden;
  margin: 1rem auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: #e8d2f0;
}

tr:nth-child(even) td {
  background-color: #f7effa;
}

tr:nth-child(odd) td {
  background-color: #efe1f5;
}

/* My CSS declaration Order
    Positioning
    Display
    Colour
    Text
    Other */
